[mysqld]
bind-address = *
port = 3306
socket = /run/mysqld/mysqld.sock
datadir = /data
sql-mode = STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
skip_name_resolve
skip-external-locking
max_allowed_packet = 512M
symbolic-links = 0
console = 1
general_log = 1
general_log_file = /var/log/app/general-query.log
log_error = /var/log/app/error.log
character-set-server = utf8
character_set_filesystem = utf8
collation-server = utf8_general_ci
init-connect = 'SET NAMES utf8'
init_connect = 'SET collation_connection = utf8_general_ci'
skip-character-set-client-handshake

[mysql]
no-auto-rehash
default-character-set = utf8

[client]
port = 3306
socket = /run/mysqld/mysqld.sock
default-character-set = utf8
